* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: rgb(102, 101, 101);
  cursor: url("./images/icons8-cat-footprint-32.png") 8 8, auto;
}

a {
  cursor: url("./images/icons8-cat-footprint-32.png") 8 8, auto;
  display: inline-block;
  transition: transform 0.3s ease;
}

button,
input,
label {
  cursor: url("./images/icons8-cat-footprint-32.png") 8 8, auto;
  transition: transform 0.3s ease;
}

a:hover,
input:hover,
button:hover {
  transform: scale(1.1);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(246, 251, 251);
}

.nav-logo {
  width: 120px;
  border-radius: 50px;
  margin: 10px 0px 20px 100px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 110px;
}

.nav-titulo {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 550;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  font-size: 17px;
}

.nav-links-link a {
  text-decoration: none;
  color: rgb(82, 81, 81);
}

main {
  background-image: url(https://img.freepik.com/free-vector/adorable-animal-footprint-pattern-background-design_1017-53348.jpg?t=st=1730213585~exp=1730217185~hmac=0b82eef7ca5b2fc0cc6e03f253de4eb620468790b843ed811cb02ccd086c2ce7&w=1380;);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
}

.sobrenos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.sobrenos-banner {
  width: 50%;

  border-radius: 50px;
}

#sobrenos {
  width: 50%;
  font-size: 16px;
  text-align: center;
}

h2 {
  font-size: 27px;
  font-weight: 500;
  color: rgb(212, 66, 115);
}

#servicos {
  padding: 30px 0px;
  text-align: center;
  font-size: 18px;
}

.servicos-titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.servicos-lista {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px 60px;
}
.servicos-item {
  width: 100px;
  height: 100px;
  align-content: center;
  border-radius: 90px;
  background-image: radial-gradient(
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(248, 197, 213),
    rgb(248, 197, 213)
  );
}
#agenda {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 40px 0px;
  align-items: center;
}
.agenda-titulo {
  margin-bottom: 20px;
}
.agenda-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  margin: 2px;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid rgb(82, 81, 81);
  width: 300px;
}
.btn-enviar {
  font-size: 16px;
  padding: 3px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid rgb(82, 81, 81);
  color: rgb(82, 81, 81);
}
.dog-gato-banho {
  width: 240px;
  height: 180px;
  border-radius: 90px;
}
.vet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.gato-filhote {
  width: 160px;
  height: 130px;
  border-radius: 20px;
  margin-left: 100px;
}

#vet {
  text-align: center;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 100px;
}

.vet-info {
  width: 250px;
}

.vet-dra {
  font-size: 23px;
  color: rgb(212, 66, 115);
}

.logo-gabi {
  width: 150px;
  height: 120px;
  border-radius: 10px;
}
.contatos {
  background-color: rgb(239, 252, 252);
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 20px 50px;
}
p {
  margin-bottom: 8px;
  font-size: 15px;
  color: rgb(102, 101, 101);
}

.cel,
.email,
.end {
  display: flex;
  align-items: start;
  gap: 10px;
}

.links-redes {
  width: 22px;
  height: 22px;
  padding: 10px;
}

.dev {
  background-color: rgb(219, 247, 247);
  text-align: center;
  color: rgb(82, 81, 81);
  font-size: 12px;
  padding: 7px;
}

@media screen and (min-width: 660px) and (max-width: 910px) {
  .nav-logo {
    width: 90px;
    margin: 20px 0px 20px 60px;
  }

  .nav-menu {
    margin-right: 60px;
  }

  .nav-titulo {
    margin-bottom: 15px;
    font-size: 17px;
  }

  .nav-links {
    gap: 15px;
    font-size: 15px;
  }

  .sobrenos {
    flex-direction: column;
  }

  .sobrenos-banner {
    width: 65%;
    margin-bottom: 30px;
  }

  #sobrenos {
    width: 500px;
    font-size: 14px;
  }

  .servicos-titulo {
    font-size: 23px;
  }

  .servicos-lista {
    flex-wrap: wrap;
    font-size: 14px;
    padding: 10px 20px;
    margin: 10px 100px;
    justify-content: center;
    gap: 30px;
  }

  .servicos-lista li {
    width: 70px;
    height: 70px;
    flex: 0 1 auto;
    padding: 10px;
  }

  .agenda-titulo {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .agenda-inputs {
    font-size: 13px;
  }
  .input {
    padding: 2px;
    width: 250px;
  }
  .btn-enviar {
    font-size: 13px;
    margin-top: 7px;
  }
  .dog-gato-banho {
    width: 200px;
    height: 140px;
  }

  .gato-filhote {
    width: 160px;
    height: 130px;
    margin-left: 70px;
  }

  #vet {
    gap: 5px;
    margin-right: 70px;
  }

  .vet-info {
    width: 200px;
  }

  .vet-dra {
    font-size: 20px;
  }

  .logo-gabi {
    width: 140px;
    height: 110px;
  }

  .contatos {
    height: 90px;
    padding: 10px 20px;
  }

  p {
    margin-bottom: 5px;
    font-size: 13px;
  }

  .links-redes {
    width: 18px;
    height: 18px;
    padding: 8px;
  }

  .dev {
    font-size: 11px;
    padding: 5px;
  }
}

@media screen and (max-width: 659px) {
  .nav-logo {
    width: 65px;
    margin: auto;
  }

  .nav-menu {
    position: relative;
    display: inline-block;
    margin: auto;
  }

  .nav-titulo {
    font-size: 15px;
    padding: 5px;
  }

  .nav-links {
    font-size: 14px;
    display: none;
    position: absolute;
    background-color: rgb(246, 251, 251);
    min-width: 150px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }

  .nav-links a {
    font-family: "Roboto", sans-serif;
    color: rgb(102, 101, 101);
    padding: 6px 12px;
    display: block;
  }

  .nav-links a:hover {
    background-color: rgb(246, 251, 251);
  }
  .nav-menu:hover .nav-links {
    display: block;
  }
  .nav-menu:hover .nav-titulo {
    background-color: rgb(246, 251, 251);
  }

  .sobrenos {
    flex-direction: column;
  }

  .sobrenos-banner {
    width: 80%;
    padding-bottom: 25px;
  }

  #sobrenos {
    width: auto;
    font-size: 13px;
  }

  #servicos {
    padding: 10px 0px;
  }

  .servicos-titulo {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .servicos-lista {
    flex-wrap: wrap;
    font-size: 12px;
    margin: auto;
    justify-content: center;
    gap: 15px;
  }

  .servicos-lista li {
    width: 56px;
    height: 56px;
    padding: 5px;
  }

  #agenda {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 15px 0px;
  }

  .dog-gato-banho {
    width: 190px;
    height: 130px;
  }

  .agenda-titulo {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .agenda-inputs {
    font-size: 13px;
    padding: 3px;
  }

  .btn-enviar {
    font-size: 14px;
    margin-top: 7px;
    -webkit-tap-highlight-color: transparent;
  }

  .vet {
    display: flex;
    flex-direction: column;
  }

  .gato-filhote {
    display: none;
    width: 160px;
    height: 130px;
    border-radius: 20px;
    margin: auto;
  }

  #vet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .vet-info {
    width: 180px;
  }

  .vet-dra {
    font-size: 18px;
  }

  .logo-gabi {
    width: 160px;
    height: 130px;
  }

  .contatos {
    height: 100px;
    padding: 10px 10px;
  }

  p {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .links-redes {
    width: 14px;
    height: 14px;
    padding: 3px;
  }

  .dev {
    font-size: 11px;
    padding: 5px;
  }
}
