* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: rgb(82, 81, 81);
  cursor: url("./images/icons8-cat-footprint-32.png") 8 8, auto;
}

a {
  cursor: url("./images/icons8-cat-footprint-32.png") 8 8, auto;
  display: inline-block;
  transition: transform 0.3s ease;
}

button,
input,
label {
  cursor: url("./images/icons8-cat-footprint-32.png") 8 8, auto;
  transition: transform 0.3s ease;
}

a:hover,
input:hover,
button:hover {
  transform: scale(1.1);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(239, 252, 252);
}

.nav-logo {
  width: 150px;
  border-radius: 50px;
  margin: 10px 0px 20px 100px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 110px;
}

.nav-titulo {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
  font-size: 22px;
}

.nav-links-link a {
  text-decoration: none;
  color: rgb(82, 81, 81);
}

main {
  background-image: url(https://img.freepik.com/free-vector/adorable-animal-footprint-pattern-background-design_1017-53348.jpg?t=st=1730213585~exp=1730217185~hmac=0b82eef7ca5b2fc0cc6e03f253de4eb620468790b843ed811cb02ccd086c2ce7&w=1380;);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
}

.sobrenos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 60px;
}

.sobrenos-banner {
  width: 50%;
  border-radius: 80px;
}

#sobrenos {
  width: 40%;
  text-align: center;
  font-size: 25px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  color: rgb(216, 112, 147);
}

#servicos {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
}
.servicos-titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 35px;
}

.servicos-lista {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 20px;
  margin: 0px 80px 0px 80px;
}
.servicos-item {
  width: 170px;
  height: 170px;
  align-content: center;
  border-radius: 90px;
  background-image: radial-gradient(
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(248, 197, 213),
    rgb(248, 197, 213)
  );
}
#agenda {
  display: flex;
  justify-content: center;
  gap: 250px;
  padding: 60px 0px;
  align-items: center;
}
.agenda-titulo {
  margin-bottom: 20px;
}
.agenda-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  margin: 2px;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid rgb(82, 81, 81);
}

.input-enviar {
  font-size: 17px;
  padding: 3px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid rgb(82, 81, 81);
  color: rgb(82, 81, 81);
}
.dog-banheira {
  width: 23%;
  border-radius: 90px;
}
.vet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.gato-filhote {
  width: 35%;
  border-radius: 90px;
  margin-left: 100px;
}
#vet {
  text-align: center;
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 100px;
}
.logo-gabi {
  width: 160px;
  height: 130px;
}
.contatos {
  background-color: rgb(239, 252, 252);
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
p {
  margin-bottom: 10px;
  font-size: 18px;
}

.cel,
.email,
.end {
  display: flex;
  align-items: start;
  gap: 10px;
}

.links-redes {
  width: 22px;
  height: 22px;
  padding: 15px;
}

.dev {
  background-color: rgb(226, 248, 248);
  text-align: center;
  color: rgb(82, 81, 81);
  font-size: 15px;
}
